<div class="bg">
  <div class="container center width-50" >
      <form [formGroup]="form">
          <!-- Progress Bar -->
          <div class="progress form-group" *ngIf="progress > 0">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
              </div>
          </div>

          <div class="form-group">
              <input type="file" (change)="uploadFile($event)">
          </div>

          <div class="form-group input-group-lg">
              <input class="form-control" placeholder="File Name" formControlName="name">
          </div>

          <div class="form-group">
              <button class="btn btn-primary btn-block btn-lg" (click) = "uploadAudio()" type="submit">Upload</button>
          </div>

          <div >
            <button class="btn btn-warning btn-block btn-lg" (click)=transcribe($event)>Transcribe</button>
          </div>     
      </form>
  </div>
  <textarea class = "container center width-50 margin40" id= "transcript" *ngIf="show" rows="6" cols="80" readonly [(ngModel)]="transcript">
  </textarea>
</div>